<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>お気に入りアーティスト追加</title>
</head>

<body>

    <!-- お気に入りアーティスト追加画面全体 -->
    <div class="favorite-add-container">

        <h1>お気に入りアーティスト追加</h1>

        <!-- お気に入りに追加するアーティストを選択する -->
        <form method="post">
            {% csrf_token %}

        <!-- アーティスト選択欄 -->
        <div class="form-group">


            <label for="artist">アーティスト</label>

            <select name="artist" id="artist" required>

                {% for artist in artists %}
                    <option value="{{ artist.id }}">
                        {{ artist.artist_name }}
                    </option>
                {% endfor %}

            </select>
        </div>

            <button type="submit" class="add-button">追加</button>

        </form>
    </div>

</body>

</html>